<?xml version="1.0" ?>
<!--
/**
 * Elogic Frontend Routes
 *
 * @category Elogic
 * @Package Elogic/News
 * @copyright 2021 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="news" id="news">
            <module name="Elogic_News"/>
        </route>
    </router>
</config>
