<?xml version="1.0"?>
<!--
/**
 * Elogic Adminhtml Routes
 *
 * @category Elogic
 * @Package Elogic/Customers
 * @author Bohdan Rakochyi
 * @copyright 2021 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="customers" frontName="customers">
            <module name="Elogic_Customers"/>
        </route>
    </router>
</config>
