<?xml version="1.0"?>
<!--
/**
 * Elogic Adminhtml Menu
 *
 * @category Elogic
 * @Package Elogic/News
 * @copyright 2021 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Elogic_News" title="Elogic" module="Elogic_News" sortOrder="60" dependsOnModule="Elogic_News" resource="Elogic_News::news"/>
        <add id="Elogic_News::news_index" title="News" module="Elogic_News" action="news/index/index" parent="Elogic_News" sortOrder="10" dependsOnModule="Elogic_News" resource="Elogic_News::index"/>
    </menu>
</config>
