<?xml version="1.0"?>
<!--
/**
 * Elogic Adminhtml Routes
 *
 * @category Elogic
 * @Package Elogic/News
 * @copyright 2021 Elogic
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="news" frontName="news">
            <module name="Elogic_News"/>
        </route>
    </router>
</config>
